.visualizer {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.visualizer-image, .visualizer-metric {
    display: table-cell;
    vertical-align: top;
}

.visualizer-metric {
    width: 50%;
    font-size: 20px;
    padding: 0 5px;
}

.visualizer-image {
    width: 50%;
    max-width: 50vw;
    overflow: auto;
    border: 1px solid #000;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding: 5px;
}